.o-hero{ 

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: min(30% , 352px) 1rem 1rem 1rem;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url('../../img/hero.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

@media screen and (min-width:768px){
    .o-hero{ 
        padding: min(30% , 352px) 2rem 2rem 2rem;
        gap: 1rem;
        
    }
    
}
@media screen and (min-width:1440px){
    .o-hero{ 
        padding: min(30% , 352px) 9.5rem 2rem 9.5rem;
        gap: 1rem;
        
    }
    
}