.a-icon{
    font-size: 22px;
    color: var(--primary-color-700);
    text-align: center;
    line-height: 0;
    padding: 0;
}

.a-icon.-link{
    padding: 0 0 0 0.5rem;
    margin: auto;
    font-size: 1.3rem;
}

.a-icon.-tarjetas{
    color: var(--color-withe);
    font-size: 14px;
    position: relative;
    top: 1.2rem;
    left: 60%;
}
@media screen and (min-width:768px){
    .a-icon{
        font-size: 28px;
    }
    
    .a-icon.-link{

        font-size: 1.3rem;
    }
}

@media screen and (min-width:1440px){
    .a-icon{
        font-size: 40px;
    }
    
    .a-icon.-link{

        font-size: 1.3rem;
    }
}